body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  margin-top: 10px;
}
#skillmap .skills-wrapper {
  margin-top: 10px;
  margin-right: 50px;
  overflow: auto;
  width: 500px;
  height: 700px;
}
#skillmap .skills-sunburst {
  float: left;
  width: 300px;
  height: 300px;
  margin-left: -80px;
}
#skillmap .skills-sunburst svg {
  font: 10px 'Source Sans Pro', sans-serif;
  color: #25292F;
  font-weight: 900;
  cursor: pointer;
}
