


body{
	background-color: #404040;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100px;
}


h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: thin;
	font-color: WHITE;
	top: 50px;
	font-size: 72px;	
	
}

.row{
	position: center;
}

a{
	color: #FBFAFA;
	hover:#CCFFFF;
	visited:#333333;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: thin;

	position: center;
	color:#999999;
}

ul{
	color:#999999;

}



p{
	color:#999999;
}



}
