<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Julia Guenther: Software Engineer</title>
	<!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/css/owl.transitions.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/skill.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <!-- <link rel="shortcut icon" href="https://images.lululemon.com/is/image/lululemon/ui-favicon?$pngstandard$"> -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/ico/favicon.ico" type="image/x-icon">


    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="/static/apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
  
</head><!--/head-->

<body id="home" class="homepage" ng-style="{background-color: #404040}">


    <header id="top-header" class="navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                </div>

                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul id="nav" class="nav navbar-nav">
                            <li class="scroll"><a href="#home" data-section="#home">Home</a></li>
                            <li class="scroll"><a href="#about" data-section="#about">About</a></li>
                            <li class="scroll"><a href="#skills" data-section="#skills">Technologies and Skills</a></li>
                            <li class="scroll"><a href="#projects" data-section="#projects">Projects</a></li>
                            <li class="scroll"><a href="#contact-area" data-section="#contact-area">Contact</a></li>   
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
                
            </div>
        </header>

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(/static/images/golden_gate.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">
                                    <h2>Julia Guenther</h2>
                                    <p>Software Engineer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(/static/images/jumbotron_photo.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center"><h2>Julia Guenther</h2>
                                    <p>Software Engineer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(/static/images/monterey_cover.jpg")>
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">
                                    <h2>Julia Guenther</h2>
                                    <p>Software Engineer</p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="about">
        <div class="container">


            <div class="row">
                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">About Me</h3>
                    <p>Ever since I took my first computer science class in college, I have been passionate about technology's capacity to solve tough problems. Prior to attending <a href="https://hackbrightacademy.com/" target="_blank" class="linkStyle">Hackbright Academy</a>, I sought to combine my interest in creative problem solving and analytical skills in positions in marketing, customer success, and product strategy. As a software engineer, I hope to work at the cutting edge of innovative technologies and solve large problems at scale. </p>
<br>
<p> As a former Division I varsity athlete, I believe in maximizing free time for self-improvement. Thus, when I'm not coding, I enjoy training for and racing half and full marathons, reading non-fiction, attending intellectualy stimulating talks, and doing yoga.<p>


                </div>
                <div class="col-sm-6 wow fadeInLeft">
                    <img id="headshot" src="/static/images/headshot.jpg">
                </div>
            </div>
        </div>


    </section><!--/#about-->

<hr>

    <section id="skills">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Technologies and Skills</h2>
                <p class="text-center wow fadeInDown">My interdisciplinary background in computer science, business, and liberal arts gives me both the empathy and technical capabilities to build human-centered products that solve real problems.<br>
                    See the graph below to learn more about my skills and the technologies I've worked with:</p>
            </div>
            <div class="row">
                <div id="skills" class="col-sm-6 wow fadeInLeft">
                    <!-- <div id="skills"> -->
      <div id="skillmap">
        <div class="skills-wrapper">
          <div class="skills-sunburst"></div>
        </div>
      <!-- /div -->
</div>
                </div>
                <div class="col-sm-6">

                     <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Analytical</h4>
                            <p>Whether it's a coding project or a business problem, I enjoy tackling tough problems.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Creative</h4>
                            <p>Experienced in design thinking, I love looking at difficult problems from multiple angles and collaborating with others to solve them. </p>
                        </div>
                    </div>

                   <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Driven</h4>
                            <p>Software engineering is a dynamic field. As a developer, I plan to never stop learning so that I can push my team and company toward success.
                             </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<hr>
    <section id="projects">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Projects</h2>
                <p class="text-center wow fadeInDown">Check out a few samples of my work:</p>
            </div>


<div class="row">
<div class="tabbable-panel">
                <div class="tabbable-line tabs-below">
                    <div class="tab-content" ng-app="projectsApp">
                     <div ng-view></div>
   
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a ng-href="#/" data-target="#" data-toggle="tab" class="linkStyle">
                            SupportGenius</a>
                        </li>
                        <li class="">
                            <a ng-href="#/ratings" data-target="#ratings" data-toggle="tab" class="linkStyle">
                            Ratings Analytics </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</section><!--/#portfolio-->
</div><!--/.container-->



    <section id="contact-area">
                <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">CONTACT <span>JULIA GUENTHER</span></h2>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">juliag1@alumni.stanford.edu</p>
                <div class="row">
                    <a href="https://github.com/thejuliaguenther" target="_blank"><i id="github" class="fa fa-github fa-3x linkStyle"></i></a>
                    <a href="https://www.linkedin.com/in/juliaguenther" target="_blank" class="linkStyle"><i id="linkedin" class="fa fa-linkedin fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>
    </section><!--/#bottom-->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/mousescroll.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/jquery.inview.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/d3/d3.js"></script>
    <script src="/static/d3/d3.min.js"></script>

    <script src="/static/js/projectsApp.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79889339-1', 'auto');
      ga('send', 'pageview');

    </script>

    
    <script type="text/javascript">
    var skillsdata;

    skillsdata = {
      "Skills": {
        "Web Development": {
          "Back-end": {
            "Database": {
              "PostgreSQL": [0, 0, 0, 0, 0, 10, 20, 40, 40, 40, 60, 90, 90, 90, 80],
              "Sqlite": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 30, 20],
              "SQLAlchemy": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
              "SQL":[0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
              "MongoDB": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 30],
              "Redis": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 30]

            },
            "Frameworks": {
              "Flask": [0, 10, 10, 30, 40, 40, 40, 60, 70, 70, 80, 80, 80, 80, 80],
              "Django": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 20, 40]
            },
            "API": {
              "Mashape Text-Processing": [0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 40, 40, 40, 30, 30],
            }
          },
          "Front-end": {
            "HTML": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "CSS": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "jQuery": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 30, 30, 25, 30],
            "AJAX":[0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
              "D3.js": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20],
              "Angular.js": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20],
              "React.js": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20],
              "Jinja2": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20],
            }
          },
          "Data Anaysis":{
            "Excel": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Scikit-learn": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Apache Spark": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Statistics":[0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Calculus": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Financial Anaysis": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40]
          },
          "Testing":{
            "Jasmine": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Selenium": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Docstring Tests": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Unit Tests": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Functional Tests": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40]
          }
        },
        "Languages": {
          "Script": {
            "JavaScript": [0, 0, 10, 30, 50, 50, 60, 60, 60, 80, 80, 60, 50, 50, 60],
            "Python": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20]
          },
          "Other": {
            "Java": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 30],
            "C++": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40]
          },
        },
        "Other": {
          "Product Development": {
            "Design Thinking": [0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 30, 25, 20, 20, 25],
            "Market Analysis": [0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 30, 25, 20, 20, 25],
            "A/B Testing": [0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 15, 15, 10, 10, 20],
            "Agile Development": [0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 20, 15, 10, 10, 5]
          },
          "Computer": {
            "Git/GitHub": [0, 0, 0, 0, 0, 0, 0, 0, 10, 20, 30, 40, 45, 50, 55],
            "Sublime": [0, 0, 0, 0, 0, 0, 0, 0, 10, 20, 30, 30, 30, 35, 40],
            "JIRA": [0, 10, 20, 50, 60, 60, 70, 70, 80, 90, 90, 90, 90, 90, 90],
            "Pivotal Tracker": [0, 10, 20, 30, 35, 40, 45, 50, 60, 65, 60, 60, 55, 60, 60],
            "Salesforce": [40, 45, 50, 50, 50, 60, 65, 70, 75, 75, 80, 80, 80, 80, 80],
            "PowerPoint": [0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 10, 10, 30, 35, 40],
            "Zendesk": [0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 10, 10, 40, 50, 55],
            "Google Analytics": [10, 20, 20, 30, 40, 40, 40, 40, 40, 50, 60, 70, 80, 80, 80],
            "Final Cut Pro": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "iMovie":[0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Camtasia": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40],
            "Photoshop": [0, 0, 10, 30, 50, 50, 60, 80, 90, 60, 50, 30, 30, 30, 40]
          }
        }
    };


    function initchart() {
        var data = {
            _proficiency: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            children: null,
            value: 0,
            key: "",
            depth: 1
        };
        chart.refreshChart(data)
    }
    function mouseover(data) {
        chart.refreshChart(data);
        var c = getcrumbpath(data);
        i(c);
        d3
            .selectAll(".skills-sunburst path")
            .style("opacity", .3), sunburst
            .selectAll("path")
            .filter(function (a) { return c.indexOf(a) >= 0 })
            .style("opacity", 1)
    }
    function mouseleave() {
        d3
            .selectAll("path")
            .on("mouseover", null);
        d3
            .selectAll("path")
            .transition()
            .duration(1e3)
            .style("opacity", 1)
            .each("end", function () { d3.select(this).on("mouseover", mouseover) })
    }
    function getcrumbpath(a) {
        for (var temp = [], c = a; c.parent;) temp.unshift(c), c = c.parent;
        return temp
    }
    function initbreadcrumb() {
        d3
            .select("#skills-chart-breadcrumb")
            .append("svg:svg")
            .attr("width", 500)
            .attr("height", 50)
            .attr("class", "trail")
    }
    function h(a, d3) {
        var c = [];
        c.push("0,0");
        c.push(r.w + ",0");
        c.push(r.w + r.t + "," + r.h / 2);
        c.push(r.w + "," + r.h);
        c.push("0," + r.h);
        d3 > 0 && c.push(r.t + "," + r.h / 2);
        return c.join(" ");
    }
    function i(a) {
        a[a.length - 1]._color, a.length;
        var c = d3
            .select("#skills-chart-breadcrumb .trail")
            .selectAll("g")
            .remove();
        c = d3
            .select("#skills-chart-breadcrumb .trail")
            .selectAll("g")
            .data(a, function (a) { return a.key + a.depth });
        var d = c.enter().append("svg:g");
        d
            .append("svg:polygon")
            .attr("points", h)
            .style("fill", function (a) { return a._color }), 
        d
            .append("svg:text")
            .attr("x", r.w / 2 + 2)
            .attr("y", r.h / 2)
            .attr("dy", "0.35em")
            .attr("text-anchor", "middle")
            .attr("class", "breadcumb-text")
            .style("fill", function (a) { return getcolor(d3.rgb(a._color)) < 150 ? "#fff" : "#000" })
            .text(function (a) { return a.key }),
        c
            .attr("transform", function (a, b) { return "translate(" + b * (r.w + r.s) + ", 0)" }), 
        c.exit().remove(), 
        d3.select(".trail").style("visibility", "")
    }
    function getcolor(color) {
        return .299 * color.r + .587 * color.g + .114 * color.b
    }
    function k(a) {
        var c = ["#13C4B7", "#00867C", "#73CFC8"],
            d = [-.1, -.05, 0];
        if (1 == a.depth) {
            var e = c[coloralternative % 5];
            return coloralternative++, e
        }
        if (a.depth > 1) {
            var f = d[a.value % 3];
            return d3.rgb(a.parent._color).brighter(.2 * a.depth + f * a.depth)
        }
    }
    var l;
    var chart = function (d3) {
        function processdata(data) {
            var b = [],
                c = 0;
            return data._proficiency.forEach(function (a) {
                c <= i.length && (b.push({
                    p: a,
                    date: i[c]
                }), c++)
            }), b
        }
        function c(b, c) {
            j.domain(d3.extent(b, function (a) { return a.date }));
            k
                .domain([0, 100]), cpath
                .append("g")
                .attr("class", "x-axis axis")
                .attr("transform", "translate(0," + h + ")")
                .call(bottomtick)
                .append("text")
                .attr("x", 450)
                .attr("y", -8)
                .style("text-anchor", "end")
                .text("Time"), cpath
                .append("g")
                .attr("class", "y-axis axis")
                .call(lefttick)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".91em")
                .style("text-anchor", "end")
                .text("Proficiency"), cpath
                .append("path")
                .datum(b)
                .attr("class", "line")
                .attr("id", "skills-chart-line")
                .attr("d", n)
                .attr("stroke", function () { return c._color })
        }
        function refreshChart(data) {
            var e = processdata(data),
                f = d3.select("#skills-chart-line");
            null === f[0][0] 
            ? c(e, data) 
            : f
                .datum(e)
                .attr("d", n)
                .attr("stroke", function () { return data._color })
        }
        var chart = {},
            rect = {
                top: 20,
                right: 20,
                bottom: 30,
                left: 50
            },
            g = 500 - rect.left - rect.right,
            h = 400 - rect.top - rect.bottom,
            i = [1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013],
            j = d3.scale.linear().range([0, g]),
            k = d3.scale.linear().range([h, 0]),
            bottomtick = d3
                .svg
                .axis()
                .scale(j)
                .tickValues([1999, 2004, 2009, 2013])
                .tickFormat(d3.format(".0f"))
                .tickPadding(10)
                .tickSize(0)
                .orient("bottom"),
            lefttick = d3
                .svg
                .axis()
                .scale(k)
                .tickSize(0)
                .tickPadding(10)
                .tickValues([20, 40, 60, 80, 100])
                .orient("left"),
            n = d3.svg.line().interpolate("basis").x(function (a) {
                return j(a.date)
            }).y(function (a) {
                return k(a.p)
            }),
            cpath = d3
                .select(".skills-chart")
                .append("svg")
                .attr("width", g + rect.left + rect.right)
                .attr("height", h + rect.top + rect.bottom)
                .append("g")
                .attr("transform", "translate(" + rect.left + "," + rect.top + ")");
            chart.refreshChart = refreshChart;
            return chart;
        }(d3),
        width = 580,
        height = 580,
        rad = Math.min(width, height) / Math.PI - 25,
        q = k,
        r = {
            w: 116,
            h: 30,
            s: 3,
            t: 7
        },
        sunburst = d3
            .select(".skills-sunburst")
            .append("svg:svg")
            .attr("width", width)
            .attr("height", height)
            .append("svg:g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
    sunburst.append("svg:circle").attr("r", rad).style("opacity", 0);
    var t = function (a, b) {
            var c = [],
                d = a.length;
            if (a.length !== b.length) c = a.length > b.length ? a : b;
            else for (var e = 0; d > e; e++) {
                var f = Math.max(a[e], b[e]) - Math.abs(a[e] - b[e]) / 8;
                c.push(f)
            }
            return c
        },
        u = function (a) {
            if (a instanceof Array) return a;
            var b = [];
            return $.each(a, function (a, c) {
                b = t(u(c), b)
            }), b
        },
        proficiencydata = d3
            .layout
            .partition()
            .sort(null)
            .size([2 * Math.PI, rad])
            .children(function (a) {
                return a.value instanceof Array 
                    ? (a._proficiency = a.value, d3.entries([a.value[a.value.length - 1]]))
                    : (a._proficiency = u(a.value), isNaN(a.value) ? d3.entries(a.value) : null)
            })
            .value(function (a) { return a.value }),
        arc = d3.svg
            .arc()
            .startAngle(function (a) { return a.x })
            .endAngle(function (a) { return a.x + a.dx - .01 / (a.depth + .5) })
            .innerRadius(function (a) { return rad / Math.PI * a.depth })
            .outerRadius(function (a) { return rad / Math.PI * (a.depth + 1) - 1 });

    var coloralternative = 0
    initbreadcrumb();
    var path = sunburst
        .data(d3.entries(skillsdata))
        .selectAll("g")
        .data(proficiencydata)
        .enter()
        .append("svg:g")
        .attr("display", function (a) { return a.depth ? null : "none" });
    path
        .append("svg:path")
        .attr("d", arc)
        .attr("stroke", "#fff")
        .attr("fill", function (a) { return a._color = q(a), a._color })
        .attr("fill-rule", "evenodd").attr("display", function (a) { return a.children ? null : "none" })
        .on("mouseover", mouseover); 
    path.
        append("svg:text")
        .attr("transform", function (a) {
            var r = 180 * ((a.x + a.dx / 2 - Math.PI / 2) / Math.PI);
            return "rotate(" + r + ")"
        })
        .attr("x", function (a) { return rad / Math.PI * a.depth})
        .attr("dx", "6").attr("dy", ".1em").text(function (a) { return a.key })
        .attr("display", function (a) { return a.children ? null : "none" })
        .on("mouseover", mouseover); 
    d3
        .select(".skills-sunburst")
        .on("mouseleave", mouseleave); 
    l = path.node().__data__.value; 
    sunburst
        .append("circle")
        .attr("r", rad / Math.PI)
        .attr("opacity", 0);
    initchart();


</script>
</body>
</html>