<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Julia Guenther: Software Engineer</title>
	<!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/css/owl.transitions.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="/static/apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body id="home" class="homepage">


    <header id="top-header" class="navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a class="smooth-scroll" data-section="#home" href="#home" >
                            <img src="images/logo.png" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>

                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul id="nav" class="nav navbar-nav">
                            <li class="scroll"><a href="#home" data-section="#home">Home</a></li>
                            <li class="scroll"><a href="#about" data-section="#about">About</a></li>
                            <li class="scroll"><a href="#skills" data-section="#skills">Technologies and Skills</a></li>
                            <li class="scroll"><a href="#projects" data-section="#projects">Projects</a></li>
                            <li class="scroll"><a href="#contact-area" data-section="#contact-area">Contact</a></li>   
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
                
            </div>
        </header>

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(/static/images/golden_gate.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">
                                    <h2>Julia Guenther</h2>
                                    <p>Software Engineer</p>
                                    <a class="btn btn-primary btn-lg" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(/static/images/slider/bg2.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center"><h2>Julia Guenther</h2>
                                    <p>Software Engineer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(/static/images/jumbotron_photo.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">
                                    <h2>Accessible design is good design. Only with <span>Color</span>.</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna incididunt ut labore aliqua. </p>
                                    <a class="btn btn-primary btn-lg" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="about">
        <div class="container">


            <div class="row">
                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">About Me</h3>
                    <p>I graduated from Stanford University with a dual bachelor's degree in Science, Technology, and Society (Innovation, Technology, and Organizations track) and Classics (Latin and Greek languages). Ever since taking my first computer science class in college, I have been passionate about technology's capacity to solve tough problems. Prior to attending Hackbright Academy, I sought to combine my interest in creative problem solving and analytical skills in positions in marketing, customer success, and product strategy. As a software engineer, I hope to work at the cutting edge of innovative technologies and solve large problems at scale. </p>
<br>
<p> As a former Division I varsity athlete, I believe in maximizing free time for self-improvement. Thus, when I'm not coding, I enjoy training for and racing half and full marathons, reading non-fiction, attending intellectualy stimulating talks, and doing yoga.<p>


                </div>
                <div class="col-sm-6 wow fadeInLeft">
                    <img id="headshot" src="/static/images/headshot.jpg">
                </div>
            </div>
        </div>


    </section><!--/#about-->



    <section id="skills">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Technologies and Skills</h2>
                <p class="text-center wow fadeInDown">My interdisciplinary background in computer science, business, and liberal arts gives me both the empathy and technical capabilities to build human-centered products that solve real problems<br>
                    See the graph below to learn more about my skills and the technologies I've worked with</p>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="images/main-feature.png" alt="">
                </div>
                <div class="col-sm-6">

                     <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Analytical</h4>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Creative</h4>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                        </div>
                    </div>

                   <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Driven</h4>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cta2">
        <div class="container">
            <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">YOU'VE MADE A brave DECISION, <span>WELCOME</span></h2>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Mauris pretium auctor quam. Vestibulum et nunc id nisi fringilla <br />iaculis. Mauris pretium auctor quam.</p>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg" href="#">Get It Now</a></p>
            </div>
        </div> 
  </section> 

    <section id="projects">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Projects</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">SupportGenius</h3>
                    <p>SupportGenius is a customer success analytics app designed to turn support tickets into valuable customer insights</p>
                    <p>This app uses linear regression to predict the relationship between the number of customer-agent interactions and ticket resolution time (Figure 1) and the relationship between the time of day that a ticket is submitted and the time it takes an agent to respond (Figure 2). Both of these graphs, along with the ticket submission time heatmap (Figure 3) can help support mangers decide how many agents to put on a certain shift and see whether tickets are being resolved in an efficient manner.</p>
                <div class="col-sm-6 wow">
                    <img id="fig-1" src="static/images/agent_touches.png">
                    <figcaption>Figure 1</figcaption>
                </div>
            </div>
<div class="row">
    <div class="col-sm-4">
        <img id="fig-2" src="static/images/first_response.png">
        <figcaption>Figure 2</figcaption>
    
    </div>
    <div class="col-sm-4">
        <img id="fig-3" src="static/images/heatmap.png">
        <figcaption>Figure 3</figcaption>
    </div>
    <div class="col-sm-4">
       <img id="fig-4" src="static/images/meanshift_graph.png">
    </div>
</div>

<div id="support-genius-row-2" class="row">
    <div class="col-sm-6">
        <p>A fourth graph (Figure 4) shows how different groups of customers are related. It displays the result of the meanshift algorithm processing 800 Markov chain-generated fake tickets from fake customers (further explained on <a href="https://github.com/thejuliaguenther/hackbright-final-project/tree/master/hackbright_project" target="_blank">GitHub</a>). This algorithm creates clusters of similar cusomers to see if similar customers share similar sentiments about the company's product. The sentiments of the tickets were determined by the Mashape Text-Processing API. Analyzing the sentiments of groups of similar customers would be extremely useful to support team mangers or customer success managers as it would allow them to adjust their support/relationship management strategies for each group of customers.</p> 
    </div>
</div>

<p><span class="tech-stack">Technical Stack:</span>PostgreSQL, Scikit-learn, NumPy, D3.js, Highcharts.js, Python fake-factory, Python, SQLAlchemy, Flask, JavaScript, jQuery, jQueryUI, AJAX, HTML/CSS, Bootstrap, Mashape Text-Processing API (Sentiment Analysis API)</p>
                </div>

            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <section id="contact-area">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible;">Send Message</h2>
                    <p class="text-center wow fadeInDown animated" style="visibility: visible;">Drop a line to us. Your word is most important to us.</p>
                </div>
                <form id="main-contact-form" name="contact-form" method="post" action="#">
                    <div class="col-lg-6 animated animate-from-left" style="opacity: 1; left: 0px;">

                        <div class="form-group">
                                <label for="name">Your Name (Required)</label>
                                <input id="name" type="text" name="name" class="form-control" placeholder="Name" required>
                            </div>
                        <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject" required>
                        </div>

                    </div>
                    <div class="col-lg-6 animated animate-from-right" style="opacity: 1; right: 0px;">
                        <div class="form-group">
                            <label for="message">Your Message</label>
                            <textarea name="message" id="message" class="form-control" rows="8" placeholder="Message" required></textarea>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center">

                          <button type="submit" class="btn btn-primary btn-lg btn-send-msg">Send Message</button>

                    </div>

                </form>

            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        &copy; 2015 Your Company. Designed and Developed by <a target="_blank" href="http://themeinthebox.com" title="Free Twitter Bootstrap WordPress Themes and HTML templates">themeinthebox.com</a>
                    </p>
                    
                    <ul class="social-icons text-center">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/mousescroll.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/jquery.inview.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>